/* write your code here */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap');
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background: #f2f2f2;
  font-family: 'Montserrat';
}
.wrap {
  width: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
h1 {
  text-align: center;
  margin: 20px 0px;
}
h2 {
  text-align: justify;
  margin: 20px 0px 10px;
}
.search {
  display: flex;
}
.searchTerm, td {
  width: 100%;
  border: 3px solid #FFA500;
  padding: 5px;
  height: 36px;
  background-color: #f8f8f8;
}
.searchTerm {
  color: #9DBFAF;
  outline: none;
  border-radius: 5px 0 0 5px;
  border-right: none;
}
.searchTerm:focus{
  color: black;
}
.searchButton, .resetButton {
  width: 88px;
  border: 1px solid #FFA500;
  background: #FFA500;
  text-align: center;
  color: #f8f8f8;
  cursor: pointer;
  font-size: 20px;
}
.resetButton {
  margin-left: 1px;
}
.resetButton, #googleSearch {
  border-radius: 0 5px 5px 0;
}
table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
}
td {
  width: 50%;
}
footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #ffffff;
  background-image: linear-gradient(180deg, #ffffff 0%, #d7e1ec 74%);
}
footer marquee {
  margin: 0 25%;
}